# Files to ignore when considering what GIT should commit.

# Visual Studio 
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
vc120.pdb
vc140.pdb
ipch
*.sdf
*.opensdf
*.idb
*.vcxproj
*.vpc_crc
*.sln
*.res
.vs/
Release*/
Debug*/
*.db
*.VC.db

*.vpc.sentinel
*.vpc_cache
*.vcxproj.*
*.opendb

# OSX/Linux build products
*.mak
*.mak.vpc_crc
*.xcodeproj/
obj*/
!devtools/*.mak
!utils/smdlexp/smdlexp.mak

# Specific Source build products
/game/
_vpc_/
src/vscript/languages/squirrel/vsquirrel/init_nut.h
generated_proto/

# shader files
*.tmp

*.db
src/hl2_game.VC.db
src/hl2_game.VC.db
*.pdb
src/lib/public/appframework.lib
src/lib/public/bitmap.lib
src/lib/public/bitmap_byteswap.lib
src/lib/public/dmxloader.lib
src/lib/public/interfaces.lib
src/lib/public/mathlib.lib
src/lib/public/matsys_controls.lib
src/lib/public/quickhull.lib
src/lib/public/soundsystem_lowlevel.lib
src/lib/public/tier0.lib
src/lib/public/tier1.lib
src/lib/public/tier2.lib
src/lib/public/tier3.lib
src/lib/public/vgui_controls.lib
src/lib/public/videocfg.lib
src/lib/public/vstdlib.lib
src/lib/public/vtf.lib
